:root {
  --main-dark-color: #1a535c;
  --main-secondary-color: #cbf3f0;
  --main-light-color: #f7fff7;

  --secondary-dark-color: #fb7c33;
  --secondary-light-color: #ffe66d;
}

a,
a:focus,
a:hover {
  color: var(--secondary-dark-color);
  cursor: pointer;
}

.btn-secondary {
  color: var(--main-light-color);
  background-color: var(--secondary-dark-color);
  border: 0.05rem solid var(--secondary-dark-color);
}

.btn-secondary:hover {
  color: var(--secondary-dark-color);
  background-color: var(--main-light-color);
  border: none;
}

#dark-mode-btn {
  position: fixed;
  right: 0;
  z-index: 1;
}

#dark-mode-btn:hover {
  transform: rotate(-15deg) scale(1.1, 1.1);
  color: var(--secondary-dark-color);
  cursor: pointer;
}

.dark-mode #dark-mode-btn:hover {
  transform: rotate(-15deg) scale(1.1, 1.1);
  color: var(--secondary-light-color);
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  background-color: var(--main-light-color);
  overflow-x: hidden;
}

body {
  display: -ms-flexbox;
  display: flex;
  color: var(--main-dark-color);
  overflow-x: hidden;
  transition: 0.5s;
}

.dark-mode {
  --main-dark-color: #f7fff7;
  --main-light-color: #333;
  --main-secondary-color: #444;
  transition: 0.3s;
}

.dark-mode .jumbotron {
  background-color: #444;
}

.dark-mode .top-line {
  background-color: var(--secondary-dark-color);
}

.cover-container {
  max-width: 42em;
}

.header {
  margin-bottom: 2rem;
}

.header-brand {
  margin-bottom: 0;
}

.nav-header .nav-link {
  padding: 0.25rem 0;
  font-weight: 700;
  color: var(--secondary-dark-color);
  background-color: transparent;
  border-bottom: 0.25rem solid transparent;
}

.nav-header .nav-link:hover {
  border-bottom-color: var(--secondary-light-color);
}

.sub {
  background-color: var(--secondary-light-color);
  position: absolute;
  width: 10rem;
  z-index: 0;
  margin-top: 1.25rem;
  margin-left: 2rem;
  height: 1.2rem;
}

.title {
  z-index: 10;
  position: absolute;
}

.space {
  height: 3rem;
}

.nav-header .nav-link + .nav-link {
  margin-left: 1rem;
}

@media (min-width: 48em) {
  .header-brand {
    float: left;
  }
  .nav-header {
    float: right;
  }
}

#home {
  margin-top: 10em;
  margin-bottom: 10em;
}

.highlight {
  color: var(--secondary-dark-color);
}

.top-line {
  position: absolute;
  left: 0;
  top: 0;
  height: 3px;
  width: 100vw;
  background-color: var(--secondary-light-color);
}

.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: 0.75rem 1.25rem;
  font-weight: 700;
}

.footer {
  color: var(--main-dark-color);
}

@media screen and (max-width: 600px) {
  .display-3 {
    font-size: 15vw;
  }
}

.card {
  background-color: var(--main-light-color);
  border: 0.05rem solid var(--main-secondary-color);
}

